@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    /* background-color: #0f263b; */
    background: linear-gradient(to right, #141e30, #243b55);
    /* background: linear-gradient(#141e30, #243b55); */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

 header{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: rgb(4, 14, 19);
 }

ul {
    list-style-type: none;
}

header ul li {
    float: left;
}

header ul li a {
    display: block;
    color: #fff;
    font-size: larger;
    text-align: center;
    padding: 20px 60px;
    text-decoration: none;
}

header ul li a .bi{
    display: inline;
    padding-right: 10px;
}

header ul li:hover {
    background-color: #404142;
}

.container {
    min-width: 40%;
    height: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    width: auto;
    font-size: 90px;
    letter-spacing: 10px;
}

p {
    width: 100%;
    padding-bottom: 60px;
    font-size: 17px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    padding: 15px 22px;
    margin: 0 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #7e8095;
    color: #fff;
}

.buttons button a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.buttons button:hover {
    background-color: #1c1d22;
}

