html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.signup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.signup-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

.signup-box .user-box {
    position: relative;
}

.signup-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.signup-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 17px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.btn {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

button {
    background-color: #6974ac;
    font-size: 20px;
    color: white;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #097579;
    color: #fff;
}

.signup-box .user-box input:focus~label,
.signup-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
